<div class="Login__wrapper">
    <span class="Login__item message">Witaj, Sauronie!</span>
    <span class="Login__item name">
        <%= locals.username%>
    </span>
    <span class="Login__item settings" href="../settings.ejs">Ustawienia</span>
    <span class="Login__item logout" href="../index.ejs">Wyloguj się</span>
</div>