<div class="Login__wrapper">
    <span class="Login__item message">Witaj, Sauronie!</span>
    <span class="Login__item name">
        <%= name%>
    </span>
    <span class="Login__item settings" href="settings">Ustawienia</span>
    <span class="Login__item logout" href="index">Wyloguj się</span>
</div>