<div class="Login__wrapper">
    <span class="Login__item message">Witaj, Sauronie!</span>
    <span class="Login__item name">
        <%= locals.username%>
    </span>
    <a class="Login__item logout" href="/orders">Zamówienia</a>
    <a class="Login__item logout" href="/goods">Produkty</a>
    <a class="Login__item logout" href="/users">Użytkownicy</a>
    <a class="Login__item logout" href="/logout">Wyloguj się</a>
</div>