<div class="Login__wrapper">
    <span class="Login__message">Nie jesteś zalogowany</span>
    <span class="Login" href="../login.ejs">Zaloguj się</span>
    <span class="Login__sign" href="../register.ejs">Zarejestruj się</span>
</div>