<div class="Login__wrapper">
    <span class="Login__message">Nie jesteś zalogowany</span>
    <a class="Login" href="/login">Zaloguj się</a>
    <a class="Login__sign" href="/register">Zarejestruj się</a>
</div>