<form id="search-form" method="get">
    <input class="search__item search" id="search" name="search" type="text"
        placeholder="Jaki produkt chcesz znaleźć?" />
    <button form="search-form" type="submit">Do</button>
</form>