<div class="Login__wrapper">
    <span class="Login__item message">Jesteś zalogowany</span>
    <span class="Login__item name">
        <%= locals.username%>
    </span>
    <a class="Login__item settings" href="settings">Ustawienia</a>
    <a class="Login__item logout" href="index">Wyloguj się</a>
</div>