<div class="Login__wrapper">
    <span class="Login__item message">Jesteś zalogowany</span>
    <span class="Login__item name">
        <%= locals.username%>
    </span>
    <a class="Login__item logout" href="/basket">Koszyk</a>
    <a class="Login__item logout" href="/logout">Wyloguj się</a>
</div>