<!DOCTYPE html>
<html lang="en">
username, price, status
user, lista,
<% include ('components/head.ejs')%>

    <body>
        <div class="Login__wrapper">
            <span class="Login__item message">Jesteś zalogowany</span>
            <span class="Login__item name">
                <%= name%>
            </span>
            <span class="Login__item settings">Ustawienia</span>
            <span class="Login__item settings">Ustawienia</span>
            <span class="Login__item logout">Wyloguj się</span>
        </div>

        <header class="Website-name">{Nazwa - sklep}</header>
        <% include searchBar.ejs %>

            <main class="goods__panel">
                <% for (let i=0; i<products.length; i++) { %>
                    <div class="panel__item good">
                        <span class="good__name">
                            <%= products[i].name>
                        </span>
                        <span class="good__price">
                            <%= products[i].price>
                        </span>
                        <span class="good__description">
                            <%= products[i].description>
                        </span>
                        <div class="basket__wrapper">
                            <label class="basket__item basket__label" for="basket">Dodaj do koszyka</label>
                            <img class="basket__item basket" src="../images/basket.jpeg" id="basket">
                        </div>
                    </div>
                    <% } %>
            </main>
            <% include footer.ejs %>
    </body>

</html>